@import "tailwindcss" source(none);
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "@mdi/font/css/materialdesignicons.css";
@import "notyf/notyf.min.css";
@import "sweetalert2/dist/sweetalert2.min.css";
@import "jodit/es2021/jodit.min.css";
  
@custom-variant dark (&:where(.dark, .dark *));

@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.vue';